/* content */
#leftContent {
  border-right:1px solid #dddddd;
  height: 810px;
  padding: 30px;
}

#midContent {
  height: 800px;
  padding: 30px;
}

#rightContent {
  border-left:1px solid #dddddd; 
  height: 800px;
  padding: 30px;
}

#selectPane {
  max-height: 700px;
  overflow: auto;
  background-color: #ffffff
}

/* overwrite bootstrap */
.table {
  margin-bottom: 0px;
}

#listPane {
  max-height: 650px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: auto;
}

#schedulePane {
  padding-top: 30px;
  max-height: 700px;
  overflow: auto;
}

#courseInfo {
  color: #3A87AD;
}

#scheduleTable {
  border:transparent;
  margin-top: 20px;
}

#scheduleTable td {
  width: 135px;
}

/* footer */
#footer {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eeeeee;
  
}

