<div><table class='table table-striped'>
	<tr><td>Course Name</td><td><a href=<%= url %> target='_blank'><%= name %></a></td></tr>
	<tr><td>Course id</td><td><%= cid %></td></tr>
	<tr><td>Academic level</td><td><%= al %></td></tr>
	<tr><td>Description</td><td><%= des %></td></tr>
	<tr><td>Prerequisites</td><td><%= pre %></td></tr>
	<tr><td>Corequisites</td><td><%= cor %></td></tr>
	<tr><td>Antirequisites</td><td><%= ant %></td></tr>
	<tr><td>Note</td><td><%= nte %></td></tr>
	<tr><td>Units</td><td><%= unt %></td></tr>
</table></div>
	<div id ="add_fav"><button type="submit"  class="btn-block btn-primary" id="add2fav"> Add to Favourites</button></div>
	<div id ="del_fav"><button type="submit"  class="btn-block btn-default" id="del2fav">  Delete from Favourites</button></div>
