
<div class="row">
	<div class="col-sm-4">
		<div class="well">
			<form>
				<div class="form-group">
					<label>Course Id</label>
					<input class="form-control" id="Course-Id" placeholder="Please enter Course Id"/>
				</div>
				<div id ="search_course"><button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  id="course-button"><i class="icon-search"></i>Submit</button></div>


			<div id="course-history"></div>
			</form>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="well">
			<table border="0" cellspacing="0" cellpadding="0">
			</table>
			<div id="search">
			</div>
		</div>
	</div>
</div>